In [8]:
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

# ===========基础库==========
import pandas as pd
import numpy as np
from datetime import datetime
# ===========自定义库==========
from stdbscan import STDBSCAN

'''
STDBSCAN.fit_transform(self, df, col_lat, col_lon, col_time,
                      col_cluster='cluster'):

df : 输入数据； type = DataFrame
col_lat : 坐标经度的DataFrame列名称， type = str
col_lon : 坐标纬度的DataFrame列名称， type = str
col_time: 时间维度的DataFrame列名称， type = datetime 
'''

In [9]:
path = r'.\data\Cluster_points_4_1-7.csv'
df = pd.read_csv(path,index_col = False)

df['time'] = df['time'].astype('datetime64')

df.describe()

                lon           lat
count  65332.000000  65332.000000
mean      41.160241     -8.616968
std        0.031136      0.049404
min       37.837557    -12.016791
25%       41.148405     -8.630955
50%       41.157000     -8.613099
75%       41.167026     -8.601795
max       43.764426     -4.588119

In [10]:
model = STDBSCAN(spatial_threshold=0.004, temporal_threshold=1800, # 0.003 7200 10
                 min_neighbors=30, progress_bar = True)
result = model.fit_transform(df, 'lat', 'lon', 'time')
result.shape

Clustering 进度: 65332/65332

(65332, 4)

In [15]:
# 聚类簇个数
len(result.groupby('cluster').count())-1

101

In [16]:
result.to_csv(r'.\result\Cluster_result_4_1-7.csv',index = False)

In [13]:
df = pd.read_csv(r'.\result\Cluster_result_4_1-7.csv',index_col = False)
print(df.shape)
df.head()

(65332, 4)

         lon       lat                 time  cluster
0  41.145210 -8.610633  2014-04-01 00:01:31        1
1  41.169780 -8.589258  2014-04-01 00:01:32       -1
2  41.145183 -8.610570  2014-04-01 00:01:53        1
3  41.182713 -8.600040  2014-04-01 00:02:02       -1
4  41.157414 -8.628516  2014-04-01 00:02:07        2

In [14]:
rate = 1-df[df['cluster'] == -1].count().values[0]/df.shape[0]
print('有用点数约为{:.2f}%'.format(rate*100))

有用点数约为26.58%

0.29613359456315436

65332